html, body {
	font-family: Helvetica, Calibri, Arial;
	font-size: 11pt;
	margin: 0;
	padding: 0;
	background-color: hsl(45, 100%, 90%);
}

#container {
	box-sizing: border-box;
	margin: 5em auto 0 auto;
	padding: 0.6em;
	width: 35em;
	border: 1px solid #111;
}

nav {
	margin: 0;
	padding: 0;
}
nav > ul, #flashes {
	margin: 0 auto 0.3em auto;
	padding: 0;
	width: 100%;
	list-style: none;
}
nav > ul {
	display: table;
	border-collapse: collapse;
}
#flashes {
	display: block;
}
nav > ul > li, #flashes > li {
	text-align: center;
	border: 1px solid #111;
	padding: 0.3em;
	background-color: hsl(45, 100%, 85%);
}
nav > ul > li {
	display: table-cell;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10pt;
}
#flashes > li {
	display: block;
}

#grades {
	border-collapse: collapse;
	width: 100%;
}
#grades, #grades th {
	border: 1px solid ;
}
#grades td {
	border: 1px dotted #333;
	text-align: center;
}
#grades td, #grades th {
	padding: 0.2em;
}


a {
	text-decoration: none;
	color: hsl(240, 100%, 60%);
}
a:hover {
	color: hsl(240, 100%, 30%);
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
