{% extends "main.html" %}
{% block title %}
	Admin {{ super() }}
{% endblock %}
{% block content %}
	<ul>
		<li><a href="{{ url_for('grades_admin') }}">Student Grades</a></li>
		<li><a href="{{ url_for('announcements_admin') }}">Add an announcement</a></li>
		<li><a href="{{ url_for('download_admin') }}">Download an assignment</a></li>
		<li><a href="{{ url_for('get_excel_file') }}">Download grades</a></li>
		<li><a href="{{ url_for('put_excel_file') }}">Upload grades</a></li>
	</ul>
{% endblock %}
