<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{{ title }} - Pyboard{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/main.css">
		<script type="text/javascript">
			function validate(){
				var re = /[a-z]+[0-9]+/
				if(!re.test(document.submission.id.value))
				{
					alert("invalid user id (probably)");
					return false;
				}
				else
				if(document.submission.id.value == "" ||
				document.submission.file.value == "")
				{
					alert("FILL OUT all the FIELDS!");
					return false;
				}
			}
		</script>
	</head>

	<body>
		<div id="container">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flashes">
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<nav>
				{% block nav %}
					<ul>
						<li><a href="{{ url_for('index') }}">submit</a></li>
						<li><a href="{{ url_for('emails') }}">emails</a></li>
						<li><a href="{{ url_for('grades') }}">grades</a></li>
						{% if 'username' in session %}
							<li><a href="{{ url_for('profile') }}">{{ session['username'] }}</a></li>
							<li><a href="{{ url_for('logout') }}">log out</a></li>
						{% endif %}
					</ul>
				{% endblock %}
			</nav>

			<div id="content">
				{% block content %}
					{{ content|safe }}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
