<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{{ title }} - Pyboard{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/main.css">
		<script type="text/javascript">
			function validate(){
				if(document.submission.id.value == "" ||
				document.submission.file.value == "")
				{
					alert("You must include a submission");
					return false;
				}
			}
		</script>
	</head>

	<body>
		<div id="container">
			<nav>
				{% block nav %}
					{% if 'username' in session %}
						<ul>
							<li><a href="{{ url_for('users') }}">users</a></li>
							{% if 'admin' == g.user.section %}
								<li><a href="{{ url_for('admin') }}">admin</a></li>
							{% else %}
								<li><a href="{{ url_for('index') }}">submit</a></li>
								<li><a href="{{ url_for('view_submissions') }}">submissions</a></li>
								<li><a href="{{ url_for('grades') }}">grades</a></li>
							{% endif %}
							<li><a href="{{ url_for('announcements') }}">announcements</a></li>
							<li><a href="{{ url_for('profile') }}">{{ g.user.username }}</a></li>
							<li><a href="{{ url_for('logout') }}">log out</a></li>
						</ul>
					{% endif %}
				{% endblock %}
			</nav>

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul id="flashes">
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<div id="content">
				{% block content %}
					{{ content|safe }}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
