{% extends "main.html" %}
{% block title %}
	{{ user.username }} {{ super() }}
{% endblock %}
{% block content %}
	<ul>
		<li>Username: {{ user.username }}</li>
		<li>
			Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
			{% if g.user.username == user.username %}<a href="{{ url_for('profile_edit') }}">(edit)</a>{% endif %}
		</li>
		{% if 'admin' == user.section %}
			<li style="font-weight: bold"><a href="{{ url_for('admin') }}">Administrator</a></li>
		{% else %}
			<li>Section: {{ user.section }}</li>
		{% endif %}
		{% if g.user.username == user.username %}<li style="font-weight: bold">You</li>{% endif %}
	</ul>
{% endblock %}
