{% extends "main.html" %}
{% block title %}
	{{ username }} {{ super() }}
{% endblock %}
{% block content %}
	<ul>
		<li>Username: {{ username }}</li>
		<li>
			Email: <a href="mailto:{{ info[0] }}">{{ info[0] }}</a>
			{% if isuser %}<a href="{{ url_for('profile_edit') }}">(edit)</a>{% endif %}
		</li>
		<li>Section {{ info[1] }}</li>
		{% if admin %}<li style="font-weight: bold"><a href="{{ url_for('admin') }}">Administrator</a></li>{% endif %}
		{% if isuser %}<li style="font-weight: bold">You</li>{% endif %}
	</ul>
{% endblock %}
